 *{
     margin:0;
     padding:0;
     box-sizing:border-box;
 }
header{ 
    background:#541554;
    color: #fff;
}
h1{
    font-size: 64px;

}

nav{
    padding: 20px;
}

.container{
    width:80%;
    margin:0 auto;

}
section{
    padding-top: 50px;
}

button{
    padding:20px;
    border:2px solid white;
    border-radius:2px;
 
}
.free{
    background:white;
    color:purple;
}
li{
display:inline-block;
margin-left:30px ;
color:white;
}
.love{
float: left;
}
.vic{
    float:right;
    padding-bottom: 8px;
    
}
.clear{
    clear:both;
}
.sign{
    background:white;
    color:purple;
    padding:20px
}
.email{

    border-radius: 4px;
}
.with{  
    padding:5px;
    background-color: cornflowerblue;
    width:30%;
    margin-left: 30px;
    border-radius:4px ;
    
}

#Googleimg{
    background-color: white;
    float: left;
}

.orange{
    color:orange;
    
}
.p1{
    font-size:30px;
    margin:30 px 0;
}
.p2{
    font-size:30px;
    margin-top: 30px;
}
.align{
  text-align: center;
  margin:20px;
}
.line1 li,.line2 li{
    padding:20px 50px;
    vertical-align: middle;
} 
.line1 img,.line2 img{
    width: 100px;
}
.companies{
    margin-bottom: 30px;    
}

.left{
    float:left;
width: 50%;

 
}

.right{
    float: right;
    width: 50%;
    }
  section h4{
   font-size: 70px;
 }
.font{
font-size: 30px;
 }
   
    
