 *{
     margin:0;
     padding:0;
     box-sizing:border-box;
 }
header{ 
    background:#541554;
}
h1{
    font-size: 64px;

}

nav{
    padding: 20px;
}
.container{
width:80%;
margin:0 auto;


}
section{
list-style-type:none;

vertical-align: middle;
padding:20px;
/* text-transform: capitalize; */
cursor:pointer;


}
button{
    padding:20px;
    border:2px solid white;
    border-radius:2px;

}
.sales{
    background-color: transparent;
    color: white;
    font-weight:bold;
    
}
.free{
    background:white;
    color:purple;
}
li{
display:inline-block;
margin-left:30px ;
color:white;
}
.love{
float: left;
}
.vic{
    float:right;
    padding-bottom: 8px;
    
}
.clear{
    clear:both;
}
.sign{
    background:white;
    color:purple;
    padding:20px
}
.email{
    float: left;
    background-color: transparent;
    color:white;
    border-radius: 4px;
}
.with{  
    padding:5px;
    background-color: cornflowerblue;
    width:30%;
    margin-left: 30px;
    border-radius:4px ;
    
}
.p3{
    float: right;
    padding-top:15px;
}
.hero{
    color: #fff;
}
#Googleimg{
    background-color: white;
    float: left;
}

.orange{
    color:orange;
}
.nav-left{
    width:50%;
    float: left;
    
}
.nav-right{
    width:none;
    float: right;
    margin-bottom:30px;
}
.p1{
    font-size:30px;
    margin:30px 0;
}
.p2{
    font-size:30px;
    margin-top: 30px;;
}
